.create{
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.create .brand{
    width: fit-content;
    background: var(--nexa-primary-light);
    color: var(--nexa-primary);
    border-radius: 8px;
    padding: 4px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.create-business-container{
    margin: 30px auto 0;
    width: min(1180px, calc(100% - 48px));
    border: 2px solid var(--nexa-border);
    box-shadow: 0px 1px 3px var(--nexa-dark);
    padding: 24px;
    max-width: 800px;
    border-radius: 8px;
}

.topbar-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.topbar-container .top-layer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-layer .stepsof{
    color: var(--nexa-primary);
    font-weight: 500;
    background: var(--nexa-primary-light);
    padding: 4px;
    border-radius: 8px;
}

.top-layer .bio{
    font-size: 14px;
}

.topbar-container .progress{
    width: 100%;
    padding: 4px;
    background: var(--nexa-border);
    border-radius: var(--nexa-radius-md);
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.topbar-container .progress .tube{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: var(--nexa-radius-md);
    background: linear-gradient(to right, var(--nexa-primary-dark), var(--nexa-primary));
    padding: 4px;
    transition: all .3s ease;
}


.wizard-navigation{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 4px;
    padding: 4px;
}

.wizard-navigation button{
    padding: 10px;
    font-weight: 500;
    border-radius: var(--nexa-radius-md);
    display: flex;
    align-items: center;
    gap: 2px;
    transition: background-color .3s ease;
}

.navigate-back{
    background: transparent;
}

.navigate-forward, .create-business-btn{
    color: #fff;
    background: var(--nexa-primary);
}

.navigate-back:hover{
    background: var(--nexa-border);
}

.navigate-forward:hover{
    background: var(--nexa-primary-dark);
}

@media( max-width: 992px){
    .top-layer{
        flex-direction: column;
    }
}

.step{
    margin: 20px 0;
}